.header-flex {
    display: flex;
    justify-content: flex-end;
    background: cyan;
    padding: 2vw;
}

h1 {
    margin-right: 5vw;
    font-size: 4vw;
}


.button-container {
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
}

.gifButton {
    text-align: center;
    width: 8vw;
    border-radius: 3px;
    height: auto;
    background: rgb(87, 87, 226);
    padding: 10px;
    margin: 10px;
    transition: all .25s;
    box-sizing: border-box;

}

.gifButton:hover {
    cursor: pointer;
    background-color: rgb(114, 91, 241);
    border: 3px solid rgb(47, 31, 139);
}

.body-flex {
    display: flex;
}
.gif-container {
    flex:3;
}

.form {
    justify-content: flex-end;
}