body {
    font-size: 20px;
   background-color: #F2F2F7;
}

.header-flex {
    display: flex;
    justify-content: flex-end;
    /* background: black; */
    background: #002642;
    padding: 2vw;
}

h1 {
    margin-right: 5vw;
    font-size: 4vw;
    color: white;
}


.button-container {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    /* background-color: #353535;
     */
     background-color: #02040F;
    z-index: -5;
}

.gifButton {
    color: #fff;
    flex-basis: 8vw;
    border-radius: 3px;
    padding: 7px 15px;
    transition: all 1s;
    overflow: hidden;
    letter-spacing: .08em;
    border: 2px solid #E59500;
    margin: 30px;
    position: relative;
    background-color: transparent;
}

.gifButton:hover {
    cursor: pointer;
    flex-basis: 10vw;
    opacity: 1;
    background: #E59500;
}

.body-flex {
    display: flex;
    margin-top: 3vh;
}

.gif-container-flex {
    flex-basis: 100%;
    flex:2;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}

.gif-styler {
    flex-basis: 30%;
    background: white;
    border-radius: 6px;
    display: flex;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 10px;
    flex-flow: row wrap;
    overflow: hidden;
}

.gif-text {
    flex: 2;
    flex-flow: nowrap;
}

.gif {
    flex: 1;
}

img.gif  {
    width: 100%;
    max-width: 200px;
}

.sidebar {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.form {
    border:.5vw solid #28454A;
    padding: 20px;
    border-radius: 1.1vw;
    
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    background: #28454A;
    color: white;
}

input[type=text]{
  
}


input[type=submit]{
    background: #E59500;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: width 0.4s ease-in-out;
    width: 100%;
}

input[type=submit]:hover {
    background: #E59500;
}